/* ------------ 主体 ------------ */
.bd .content {
    &.content-1 {
        .ad {
            padding-left: 5%;
            width: 100%;
        }

        .msg-list {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            padding-left: 2rem;
            height: 100%;

            .item {
                margin: 0.9375rem 0;
                font-size: 1.125rem;

                .title {
                    position: relative;
                    color: #343434;
                    font-size: 1.625rem;

                    &::before {
                        position: absolute;
                        top: 50%;
                        width: 0.625rem;
                        height: 0.625rem;
                        content: '';
                        background-color: #2897FF;
                        border-radius: 50%;
                        transform: translate(-1.375rem, -50%);
                    }
                }

                .text {
                    padding: 0.625rem 0.625rem 0.3125rem;
                    color: #999;
                }
            }
        }
    }

    &.content-2 .container {
        >.title {
            color: #fff;
        }

        .serviceSys .item {
            position: relative;
            margin: 1rem 0;
            overflow: hidden;
            border-radius: 0.625rem;
            box-shadow: 0.2rem 0.2rem 0.3rem #cccccc66;

            &:hover {
                img {
                    opacity: 0;
                }

                .info {
                    color: #fff;

                    .title {
                        background-color: #2897ff;
                    }

                    .text {
                        background-color: #2897ff;
                    }
                }
            }

            img {
                width: 100%;
                max-height: 17.1875rem;
                transition: opacity 1s;
            }

            .info {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-end;
                width: 100%;
                height: 100%;
                color: #2897ff;
                text-align: center;

                .title {
                    padding: 1rem 0;
                    font-size: 1.25rem;
                    background-color: #ffffffe6;
                }

                .text {
                    display: none;
                    padding: 1rem 3rem 0;
                    background-color: #ffffffe6;

                    .open-btn {
                        display: inline-block;
                        margin-top: 1.5rem;
                        width: 6.25rem;
                        line-height: 1.875rem;
                        color: #2897ff;
                        background-color: #fff;
                        border-radius: 0.625rem;
                    }
                }
            }
        }
    }

    &.content-3 {
        .star-list .item {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin: 0.9375rem 0;
            padding: 2.5rem 0 1.875rem;
            color: #999;
            background-color: #fff;
            border-radius: 0.625rem;
            box-shadow: 0.125rem 0.125rem 0.3125rem #cccccc66;

            img {
                width: 9.375rem;
                height: 9.375rem;
                border-radius: 50%;
            }

            .name {
                margin: 1.875rem 0 1.25rem;
                color: #333;
                font-size: 1.25rem;
            }
        }

        .link {
            margin-top: 1.25rem;
            font-size: 1.5rem;
            letter-spacing: 0.25rem;
        }

        .btn-box {
            display: flex;
            justify-content: center;
            margin-top: 3.75rem;

            .btn {
                width: 10rem;
                line-height: 1.875rem;

                &:nth-child(2) {
                    margin-left: 3rem;
                    color: #2897ff;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    &.content-4 {
        .ad {
            width: 90%;
        }

        .msg-list {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            max-width: 31.25rem;
            height: 100%;

            .title {
                color: #343434;
                font-size: 1.25rem;
            }

            .text {
                padding: 1.25rem;
                color: #999;
            }
        }
    }

    &.content-5 .container {
        >.title {
            color: #fff;
        }

        .merchant-serve-list {
            margin-top: 3.125rem;

            .item {
                position: relative;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                padding: 3rem 2.5rem 1.25rem;
                color: #999;
                background-color: #fff;
                border-radius: 0.625rem;
                box-shadow: 0.2rem 0.2rem 0.3rem #cccccc66;

                img {
                    position: absolute;
                    top: -40%;
                    width: 6.25rem;
                    height: 6.25rem;
                }

                .title {
                    margin-bottom: 0.625rem;
                    color: #333;
                    font-size: 1.25rem;
                }
            }
        }
    }

    &.content-6 {
        .good-list .item {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            background-color: #fff;
            overflow: hidden;
            border-radius: 0.625rem;
            box-shadow: 0.125rem 0.125rem 0.3125rem #cccccc66;

            &:hover .item-hide {
                height: 100%;
            }

            img {
                width: 100%;
            }

            .info {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                padding: 1rem 0;
                color: #2897ff;
                font-size: 1.5rem;

                img {
                    margin-right: 1.25rem;
                    width: 3rem;
                }
            }

            .item-hide {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                width: 100%;
                height: 0;
                color: #fff;
                background-color: #2897ff;
                overflow: hidden;
                transition: height .5s;

                .title {
                    margin: 1.25rem 0;
                    font-size: 1.625rem;
                }

                .good-item {
                    display: flex;
                    align-items: center;
                    margin: 0.625rem 0;

                    img {
                        margin-right: 1.25rem;
                        width: 3.75rem;
                        border-radius: 50%;
                    }

                    .msg {
                        font-size: 1.125rem;

                        .sell-num {
                            color: #ffcc3a;
                        }
                    }
                }
            }
        }

        .btn {
            margin: 3.75rem auto 0;
            width: 12.5rem;
            line-height: 1.875rem;
            font-size: 1.125rem;
        }
    }

    &.content-7 .company-news {
        padding-bottom: 3.125rem;

        .news-tabs {
            display: flex;
            justify-content: center;

            .item {
                margin: 0 2.5rem;
                padding-bottom: 0.625rem;
                color: #333;
                font-size: 1.25rem;
                border-bottom: 0.3125rem solid transparent;
                cursor: pointer;

                &.active {
                    color: #2897ff;
                    border-color: #2897ff;
                }
            }
        }

        .news-list {
            margin-top: 3.125rem;

            .item {
                display: none;

                &.active {
                    display: block;
                }

                img {
                    width: 100%;
                }

                .info-list {
                    display: flex;
                    flex-flow: column nowrap;
                    height: 100%;
                    overflow: auto;

                    .info-item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 1.25rem;

                        &:hover {
                            .msg {
                                background-color: #ecf5ff;
                            }
                        }

                        .date {
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: center;
                            align-items: center;
                            margin-right: 1.25rem;
                            min-width: 4.6875rem;
                            height: 4.6875rem;
                            color: #999;
                            font-size: 0.875rem;
                            border: 0.0625rem solid #2897ff;
                            border-radius: 0.3125rem;

                            .month-day {
                                color: #2897ff;
                                font-size: 1.25rem;
                            }
                        }

                        .msg {
                            padding: 0.125rem 0.3125rem;
                            color: #999;
                            font-size: 0.875rem;
                            cursor: pointer;

                            .title {
                                margin-bottom: 1rem;
                                color: #666;
                                font-size: 1.25rem;
                            }

                            .text {
                                max-height: 3.75rem;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ------------ 媒体查询 ------------ */
@media (max-width: 1200px) {

    // 主体
    .bd .content {
        &.content-2 .serviceSys .item .info {
            .title {
                padding: .5rem 0;
            }

            .text {
                padding: 0 1rem;

                .open-btn {
                    margin-top: 1rem;
                }
            }
        }

        &.content-3 .btn-box .btn {
            width: 11rem;
            line-height: 2rem;
        }

        &.content-5 .merchant-serve-list .item {
            padding: 3rem 1rem 0;
            height: 11.25rem;

            img {
                top: -28%;
                width: 5rem;
                height: 5rem;
            }
        }

        &.content-7 .company-news .news-list .item .info-list .info-item {
            margin-bottom: 0.625rem;

            .date {
                margin-right: 0.9375rem;
                min-width: 4rem;
                height: 4rem;

                .month-day {
                    font-size: 1.0625rem;
                }
            }

            .msg .title {
                margin-bottom: 0.375rem;
            }
        }
    }
}

@media (max-width: 992px) {

    // 主体
    .bd .content {
        &.content-1 .msg-list {
            .title {
                font-size: 1rem;
            }

            .text {
                padding: 0.3125rem 0.3125rem 0;
            }
        }

        &.content-2 .serviceSys .item .info {
            .title {
                padding: 0.3125rem 0;
                font-size: 1rem;
            }

            .text {
                padding: 0 0.3125rem;
                font-size: 0.75rem;

                .open-btn {
                    margin-top: 0.3125rem;
                    width: 5rem;
                    line-height: 1.25rem;
                }
            }
        }

        &.content-3 .star-list .item {
            padding: 1rem 0;
            font-size: 0.875rem;

            img {
                width: 6rem;
                height: 6rem;
            }

            .name {
                margin: 0.625rem 0;
                font-size: 1.125rem;
            }
        }

        &.content-4 .msg-list {
            .title {
                font-size: 1.125rem;
            }

            .text {
                padding: 0.3125rem;
            }
        }

        &.content-5 .merchant-serve-list .item {
            padding: 2rem .5rem 0;
            height: 10rem;

            img {
                top: -22%;
                width: 4rem;
                height: 4rem;
            }

            .title {
                font-size: 1.125rem;
            }
        }

        &.content-6 .good-list .item .info {
            font-size: 1.125rem;

            img {
                margin-right: 0.625rem;
                width: 2.25rem;
            }
        }

        &.content-7 .company-news .news-list .item .info-list .info-item {
            margin-bottom: 0.375rem;

            .date .month-day {
                font-size: 1.0625rem;
            }

            .msg .title {
                margin-bottom: 0.25rem;
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 768px) {

    // 顶部
    .hd .hide-nav .nav-list .link {
        padding: 0.6rem 0 0.6rem 6.25rem;
    }

    // 主体
    .bd .content {
        &.content-1 .msg-list {
            margin-top: 2.5rem;
            max-width: 100%;

            .text {
                padding: 0.625rem;
            }
        }

        &.content-2 .serviceSys .item .info {
            .title {
                padding: 1.25rem 0;
                font-size: 1.125rem;
            }

            .text {
                padding: 0.625rem 1.875rem;
                font-size: 0.75rem;

                .open-btn {
                    margin-top: 1.5rem;
                    width: 6rem;
                    line-height: 1.5rem;
                }
            }
        }

        &.content-3 .btn-box .btn {
            width: 10rem;
            line-height: 1.5rem;

            &:nth-of-type(2) {
                margin-left: 2rem;
            }
        }

        &.content-4 .msg-list {
            padding-top: 2.5rem;
            max-width: 100%;

            .title {
                font-size: 1.25rem;
            }

            .text {
                padding: 0.625rem;
            }
        }

        &.content-5 .merchant-serve-list {
            margin-bottom: -3.125rem;

            .item {
                margin-bottom: 6rem;
                padding: 2rem 2rem 0;
                height: 11rem;

                img {
                    top: -25%;
                    width: 4.5rem;
                    height: 4.5rem;
                }
            }
        }

        &.content-6 .good-list .item {
            margin-bottom: 2.5rem;
        }

        &.content-7 .company-news .news-list .item .info-list {
            margin-top: 2.5rem;

            .info-item {
                margin-bottom: 0.625rem;
            }
        }
    }
}

@media (max-width: 576px) {

    // 顶部
    .hd .hide-nav .nav-list .link {
        padding: 0.3125rem 0 0.3125rem 1.25rem;
        font-size: 0.875rem;
    }

    // 主体
    .bd .content {
        &.content-2 .serviceSys .item .info {
            .title {
                padding: 1.25rem 0;
                font-size: 1.125rem;
            }

            .text {
                padding: 0.625rem 1.875rem;
                font-size: 0.75rem;

                .open-btn {
                    margin-top: 1.5rem;
                    width: 6rem;
                    line-height: 1.5rem;
                }
            }
        }

        &.content-3 .btn-box .btn {
            width: 8rem;
            line-height: 1.25rem;

            &:nth-of-type(2) {
                margin-left: 1.25rem;
            }
        }

        &.content-7 .company-news {
            .news-tabs {
                justify-content: space-between;

                .item {
                    margin: 0;
                    font-size: 1rem;
                    border-width: 0.1875rem;
                }
            }

            .news-list .item .info-list {
                margin-top: 1.25rem;

                .info-item {
                    margin-bottom: 0.3125rem;

                    .date {
                        margin-right: 0.625rem;
                        min-width: 3rem;
                        height: 3rem;
                        font-size: 0.75rem;

                        .month-day {
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
    }
}