/* ------------ banner ------------ */
.banner img {
    width: 100%;
}

/* ------------ 主体 ------------ */
.bd .container {
    justify-content: space-between;
    padding: 6.25rem 0 7.5rem;

    .info-lf {
        width: 60%;

        .info-tabs {
            display: flex;
            border-bottom: 0.0625rem solid #D1D1D1;

            .item {
                position: relative;
                bottom: -0.0625rem;
                padding-bottom: 0.625rem;
                width: 12.5rem;
                color: #333;
                font-size: 1.25rem;
                text-align: center;
                border-bottom: 0.375rem solid transparent;

                &.active {
                    color: #2797FF;
                    border-color: #2797FF;
                }
            }
        }

        .info-list {
            margin-top: 1.875rem;
            min-height: 30rem;

            .item {
                display: flex;
                margin: 1rem 0;
                height: 9.5rem;
                overflow: hidden;
                border: 0.0625rem solid #D1D1D1;
                border-radius: 0.625rem;
                transition: transform .5s ease;

                &:hover {
                    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
                    transform: translateY(-0.3125rem);
                }

                img {
                    width: 18.75rem;
                    height: 9.375rem;
                    cursor: pointer;
                }

                .info {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-around;
                    padding: 0.3125rem 0.3125rem 0.3125rem 1.875rem;
                    color: #656565;
                    font-size: 0.875rem;

                    .title {
                        color: #333;
                        font-size: 1.25rem;
                    }

                    .text {
                        overflow: auto;
                    }
                }
            }
        }
    }

    .info-rt {
        width: 30%;

        .search-box {
            display: flex;
            align-items: center;
            padding: 0 1.25rem;
            overflow: hidden;
            border: 0.0625rem solid #D1D1D1;
            border-radius: 1.25rem;

            input {
                flex: 1;
                line-height: 3.125rem;
                border: 0 none;
                outline: 0 none;
            }

            img {
                width: 1.375rem;
                cursor: pointer;
            }
        }

        .news-hot {
            .title {
                padding: 2.5rem 0 1.25rem;
                color: #333;
                font-size: 1.25rem;
                border-bottom: 0.0625rem solid #D1D1D1;
            }

            .news-hot-list {
                padding: 0.625rem 0 0 1.5rem;

                a {
                    color: #666;
                }
            }
        }
    }
}

/* ------------ 媒体查询 ------------ */
@media (max-width: 1200px) {

    // 主体
    .bd .container .info-lf .info-list .item img {
        width: 18.75rem;
        height: 9.375rem;
    }
}

@media (max-width: 992px) {

    // 主体
    .bd .container {
        .info-lf .info-list .item img {
            width: 11.25rem;
            height: 5.625rem;
        }

        .info-rt .search-box img {
            transform: translateX(-1rem);
        }
    }
}

@media (max-width: 768px) {

    // 主体
    .bd .container {
        .info-lf .info-list .item {
            img {
                width: 9.375rem;
                height: 4.6875rem;
            }

            .info {
                padding: 0 0.625rem;

                .title {
                    font-size: 1rem;
                }
            }
        }

        .info-rt .search-box img {
            transform: translateX(-4.375rem);
        }
    }
}

@media (max-width: 576px) {

    // 主体
    .bd .container {
        flex-flow: column nowrap;
        padding: 1.25rem 0.625rem;

        .info-lf {
            width: 100%;
        }

        .info-rt {
            width: 100%;

            .search-box img {
                transform: translateX(0);
            }
        }
    }
}